Repository zokugun/theme-zokugun-vscode: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, xo

.lintstagedrc:

{
	"package.json": "fixpack",
	"*.ts": "xo"
}

fix: update compile script
  package.json
Due: fixpack

v0.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: fixpack

build: update dependencies
  .artifactrc.yml
  .github/workflows/publish.yml
  .xo-config.json
  package-lock.json
  package.json
Due: fixpack

feat: add bracket colors
  themes/obsidium.json
Due: none

fix: update `tsconfig.json`
  tsconfig.json
Due: none

feat: flag the globally stored version as syncable
  package-lock.json
  package.json
  src/extension.ts
Due: fixpack, xo

v0.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: fixpack

feat: can run remotely
  .artifactrc.yml
  .fixpackrc
  .github/workflows/publish.yml
  .nvmrc
  package-lock.json
  package.json
  themes/obsidium.json
Due: fixpack

v0.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: fixpack

fix: correct color for description text
  themes/obsidium.json
Due: none

v0.6.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: fixpack

feat: update terminal; add ebnf, python and rest
  package-lock.json
  themes/obsidium.json
Due: none

build: update node and husky hooks
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  .nvmrc
Due: none

build: update artifacts
  .artifactrc.yml
  .fixpackrc
  .github/FUNDING.yml
  .github/scripts/get-changelog.js
  .github/workflows/publish.yml
  .xo-config.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: fixpack
